p.example1
{ 
border:3px solid; 
border-bottom-color:#009900;  
border-top-color:#7f7273;   
border-left- color:#330000;   
border-right-color:#0000CC; 
background-color:white;  
} 


p.example2
{ 
border:3px solid; 
border-color:red;
background-color:white;         
}



p.example3
{
border-width:4px; 
border-style:none;
background-color:white;
}



p.example4
{
border-width:4px; 
border-style:solid;
background-color:white;
}



p.example5
{
border-width:4px; 
border-style:dashed;
background-color:white;
}



p.example6
{
border-width:4px; 
border-style:double;
background-color:white;
}



p.example7
{
border-width:4px;
border-style:groove;
background-color:white;
}



p.example8
{
border-width:4px;
border-style:ridge;
background-color:white;
}



p.example9
{
border-width:4px;
border-style:inset;
background-color:white;
}



p.example10
{
border-width:4px;
border-style:outset;
background-color:white;
}


p.example11
{
border-width:4px;
border-style:hidden;
background-color:white;
}


p.example12
{
border-width:4px;
border-top-style:solid;
border-bottom-style:dashed; 
border-left-style:groove; 
border-right-style:double;
background-color:white;
}


p.example13
{
border-width:4px; 
border-style:solid;
background-color:white;
}


p.example14
{
border-width:4pt;
border-style:solid;
background-color:white;
}


p.example15
{
border-width:thin;
border-style:solid;
background-color:white;
}


p.example16
{
border-width:medium;
border-style:solid;
background-color:white;
}


p.example17
{
border-width:thick;
border-style:solid;
background-color:white;
}


p.example18
{
border-bottom-width:4px; 
border-top-width:10px; border-left-width:2px; 
border- right-width:15px; 
border-style:solid;
background-color:white;
}


p.example19
{
border:4px solid red;
background-color:white;
}


h2
{
color:#420507;
}


body
{
background-color:#e1f4f4;
}


h1
{
text-align:center;
}
