.box
 {
    border:2px solid;
    border-radius:10px  ;
    max-width:48% ;
    background-color:#F2F2F2;
    position:relative;
 }

img
 {
    border-radius:10px;
    width:110px;
    padding:20px;
    margin-top:0px;
    margin-left:0px;
 }

h1
 {
    position:relative;
    bottom: 250px;
    left:170px;
    color:black;
 }

p{
    position:relative;
    bottom: 250px;
    left:160px;
    color:black;
 }

.txt
  {
    position:absolute;
    border-radius:6px;
    width:100px;
    height:50px;
    right:100px;
    top:20px;
    left:35%;
  }

