table.one{
	 border-collapse:collapse;
         margin:0 auto;
         }

table.two
        {
	 border-collapse:separate;
	 margin:0 auto; 
        }

.one td{
	border-style:dotted;
	border.width:3px;
	border-color:green;
	padding:10px;
	text-align:center;
	background-color:white;
       }

.two td{
	border-style:solid;
	border.width:3px;
	border-color:green;
	padding:10px;
	text-align:center;
	background-color:white;
       }

body
     {
        background-color:#ADADD1;
     }


h1{
   text-align:center;
   color:white; 
  }